<!DOCTYPE html>
<html>
<head>
  <title>MyProductApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="libold">
       <ul>
         <li><strong> <%= link_to 'MyProductApp', root_path %></strong> </li>
         <div class="greet">
           <% if user_signed_in? %>
           <li><a href="/cart"> cart: </a> <%= @tot_quantity %> </li>
          <li>Hi <%= @current_user.first_name %></li>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>

          <% else %>
          <li><%= link_to 'Sign In', sign_in_path %></li>
          <% end %>

        </div>
      </ul>

    </nav>


    <% if alert %>
     <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <% if notice %>
     <div class="alert alert-info"><%= notice %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    <end>

</body>
</html>
